@import "../../app.component.scss";

.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #f5feff73;
    padding: 0rem 1rem;
    border-left: 2px solid #f5feff73;
    border-right: 2px solid #f5feff73;

    .filters {
        .textFilters {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 10px;
            
            h1 {
                cursor: pointer;
                transition: .3s;
                font-size: 2.5rem;
                margin-top: 0px;
                margin-bottom: 0px;
                &:first-of-type {
                    margin-right: 10px;
                }
                &:hover {
                    color: $primary;
                }
            }
        }

        .iconFilters {
            display: none;
        }

        .active {
            color: $primary !important;
        }
    }

    .search {
        background: $lightDark;
        border-radius: 5px;
        .input-group {
            display: flex;
            align-items: center;

            .input-group-prepend {
                padding: .25rem;
            }

            input {
                background: $lightDark;
                border: none;
                color: $white;
            }
        }
    }

    #backToTopButton {
        background: $primary;
        color: $white;
        border-radius: 3px;
        outline: none;
        border: none;
        transition: .3s;
        font-size: 1.5rem;
        opacity: 0;
        transition: .3s;

        &:hover  {
            background: $darkPrimary;
            color: $darkWhite;
        }
    }
}

.newsfeed {
    height: calc(100vh - 50px);
    overflow-y: scroll;
    border-left: 2px solid #f5feff73;
    border-right: 2px solid #f5feff73;
}

@media screen and (max-width: 600px) {
    .filters {
        flex-direction: column;

        h1 {
            font-size: 1.5rem;

            &:last-of-type {
                margin-top: 0rem !important;
            }
        }
    }
}

@media screen and (max-width: 475px) {
    .textFilters {
        display: none !important;
    }

    .iconFilters {
        display: flex !important;
        align-items: center;
        span {
            font-size: 3.5rem;
            margin-right: 10px;
        }
    };
}